# Assignment No 05

# Problem Statement :: Data Analytics II
1. Implement    logistic    regression    using    Python/R    to    perform    classification    on Social_Network_Ads.csv dataset.
2. Compute Confusion matrix to find TP, FP, TN, FN, Accuracy, Error rate, Precision,
Recall on the given dataset.

In [11]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, classification_report

In [12]:
df = pd.read_csv("C:/Users/91862/Desktop/DATASCIENCECODES//Social_Network_Ads.csv")
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [13]:
df.dtypes

User ID             int64
Gender             object
Age                 int64
EstimatedSalary     int64
Purchased           int64
dtype: object

In [14]:
df['Gender'] = df['Gender'].map({'Male': 0, 'Female': 1})

In [15]:
df['Age_Salary_Interact'] = df['Age'] * df['EstimatedSalary']

In [16]:
#X: independent variables
#Y: dependent variable
    
x = df[['Gender', 'Age', 'EstimatedSalary' , 'Age_Salary_Interact']]
y = df['Purchased']

In [17]:
# Scale numerical features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(x)

# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Fit logistic regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

In [18]:
confusion=confusion_matrix(y_test,y_pred)
confusion

array([[50,  2],
       [ 6, 22]], dtype=int64)

In [19]:
# Confusion matrix
confusion = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(confusion)

# Classification report
cl_report = classification_report(y_test, y_pred)
print("\nClassification Report:")
print(cl_report)

# Accuracy
accuracy = accuracy_score(y_test, y_pred)
print("\nAccuracy:", accuracy)

# Precision
precision = precision_score(y_test, y_pred, average='micro')
print("Precision:", precision)

# Recall
recall = recall_score(y_test, y_pred, average='micro')
print("Recall:", recall)

# F1 Score
f1 = f1_score(y_test, y_pred, average='micro')
print("F1 Score:", f1)

Confusion Matrix:
[[50  2]
 [ 6 22]]

Classification Report:
              precision    recall  f1-score   support

           0       0.89      0.96      0.93        52
           1       0.92      0.79      0.85        28

    accuracy                           0.90        80
   macro avg       0.90      0.87      0.89        80
weighted avg       0.90      0.90      0.90        80


Accuracy: 0.9
Precision: 0.9
Recall: 0.9
F1 Score: 0.9